@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');


*{
    box-sizing: border-box;
    background-color: rgb(225, 155, 62);
    padding: 0;
    margin: 0;
}

li, a, button{
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    width: 100vw;
    background-color: antiquewhite;
}

header img{
    height: 120px;
    width: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-Links{
    list-style: none;
}

.nav-Links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-Links li a{
    transition;
}

.nav-Links li a:hover{
    color: #ebe0a6;
}